<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Ng-Filter-Pipe</span>
    <span style="flex: 1 1 auto;"></span>
    <a href="https://www.npmjs.com/package/ng-filter-pipe" target="blank">
      <button mat-raised-button>
        <img src="assets/npm.svg" alt="" height="36px" />
      </button>
    </a>
    &nbsp; &nbsp;

    <a href="https://github.com/hrdevop" target="blank">
      <img src="assets/github-mark-white.svg" alt="" height="40px" />
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<app-filter-pipe></app-filter-pipe>
